<?xml version="1.0"?>
<config>
	<global>
		<models>
            <twitter>
                <class>Sns_Twitter_Model</class>
            </twitter>
        </models>
		<blocks>
            <twitter>
                <class>Sns_Twitter_Block</class>
            </twitter>
        </blocks>
		<helpers>
            <twitter>
                <class>Sns_Twitter_Helper</class>
            </twitter>
        </helpers>
        <resources>
        	<twitter_setup>
        		<setup>
        			<module>Sns_Twitter</module>
        		</setup>
        	</twitter_setup>
        </resources>
	</global>
	<frontend>
        <routers>
			<twitter>
                <use>standard</use>
                <args>
                    <module>Sns_Twitter</module>
                    <frontName>twitter</frontName>
                </args>
            </twitter>
        </routers>
		<layout>
            <updates>
                <twitter module="Sns_Twitter">
					<file>sns/twitter.xml</file>
                </twitter>
            </updates>
        </layout>
        <translate>
      		<modules>
          		<Sns_Twitter>
                     <files>
                          <default>Sns_Twitter.csv</default>
                     </files>
                </Sns_Twitter>
            </modules>
        </translate>
	</frontend>
	<adminhtml>
        <translate>
      		<modules>
          		<Sns_Twitter>
                     <files>
                          <default>Sns_Twitter.csv</default>
                     </files>
                </Sns_Twitter>
            </modules>
        </translate>
		<menu>
			<snstheme>
				<title>SNS Theme</title>
				<sort_order>87</sort_order>
				<children>
					<twitter>
						<title>SNS Twitter</title>
						<sort_order>87</sort_order>
						<action>adminhtml/system_config/edit/section/twitter_cfg/</action>
					</twitter>
				</children>
			</snstheme>
		</menu>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<twitter_cfg translate="title" module="twitter">
											<title>SNS Twitter Settings</title>
										</twitter_cfg>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<default>
        <twitter_cfg>

<general>
	<avartar><![CDATA[0]]></avartar>
	<date><![CDATA[0]]></date>
	<follow_link><![CDATA[0]]></follow_link>
	<interact_link><![CDATA[0]]></interact_link>
	<isenabled><![CDATA[1]]></isenabled>
	<limit><![CDATA[3]]></limit>
	<title><![CDATA[Twitter]]></title>
	<widgets_id><![CDATA[420187988887212033]]></widgets_id>
</general>


</twitter_cfg>
    </default>
</config>