<?xml version="1.0"?>
<config>
	<global>
		<models>
			<products>
				<class>Sns_Products_Model</class>
			</products>
		</models>
		<blocks>
			<products>
				<class>Sns_Products_Block</class>
			</products>
		</blocks>
		<helpers>
			<products>
				<class>Sns_Products_Helper</class>
			</products>
		</helpers>
		<resources>
			<sns_products_setup>
				<setup>
					<module>Sns_Products</module>
				</setup>
			</sns_products_setup>
		</resources>
	</global>
	<frontend>
		<routers>
			<products>
				<use>standard</use>
				<args>
					<module>Sns_Products</module>
					<frontName>products</frontName>
				</args>
			</products>
		</routers>
		<layout>
			<updates>
				<products module="Sns_Products">
					<file>sns/products.xml</file>
				</products>
			</updates>
		</layout>
		<translate>
			<modules>
				<Sns_Products>
					<files>
						<default>Sns_Products.csv</default>
					</files>
				</Sns_Products>
			</modules>
		</translate>
	</frontend>
	<adminhtml>
		<translate>
			<modules>
				<Sns_Products>
					<files>
						<default>Sns_Products.csv</default>
					</files>
				</Sns_Products>
			</modules>
		</translate>
		<menu>
			<snstheme>
				<title>SNS Theme</title>
				<sort_order>87</sort_order>
				<children>
					<products>
						<title>SNS Products</title>
						<sort_order>87</sort_order>
						<action>adminhtml/system_config/edit/section/sns_products_cfg/</action>
					</products>
				</children>
			</snstheme>
		</menu>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<sns_products_cfg translate="title" module="products">
											<title>SNS Products</title>
										</sns_products_cfg>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<default>
		<sns_products_cfg module="products">
			<general>
			     <title><![CDATA[Latest Deals]]></title>
			</general>
			<product_selection>
			     <product_category><![CDATA[39,44,40,41,50,60,77,45,53,63,64,66,76,47,55,56,57,62,74,48,43,46,54,58,61,67,70,52,68,69,42,79,59,71,78,80,49,51,65,72,84,82,83,81]]></product_category>
			     <product_filter_by><![CDATA[all]]></product_filter_by>
			     <product_limitation><![CDATA[6]]></product_limitation>
			     <product_order_by><![CDATA[position]]></product_order_by>
			     <product_order_dir><![CDATA[asc]]></product_order_dir>
			     <product_source><![CDATA[catalog]]></product_source>
			</product_selection>
			<slider_cfg>
			     <screen_lg><![CDATA[2]]></screen_lg>
			     <screen_md><![CDATA[2]]></screen_md>
			     <screen_phone><![CDATA[1]]></screen_phone>
			     <screen_sm><![CDATA[2]]></screen_sm>
			     <screen_xs><![CDATA[2]]></screen_xs>
			</slider_cfg>
		</sns_products_cfg>
	</default>
</config>